*{
box-sizing: border-box;
}
body{
    background-image: url("data/athletes/imagenes_athletes/rio_fondo.jpg");
    display: flex;
}
header  {
    height: 5rem;
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 2rem;
    width: 100%;
    align-items: center;
    font-size: 60px;}

.contenido{
    padding-top: 8rem;
    display: flex;
    flex-direction: initial;
    width: 600vw;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    }
    
    .buttons{
    display: flex;
    justify-content:space-around;
}
.womenAthletes{
    background-color:rgb(179, 134, 179);
    border: black;
    justify-content: center;
}
.goldMedal{
    background-color:cadetblue;
    border: black;
    justify-content: center;
}
.silverMedal{
    background-color:rgb(179, 134, 179);
    border: black;
    justify-content: center;
}

.btnA{
    background:rgb(179, 134, 179);
    padding: 5px 15px; 
    justify-content:center ;
    border-radius: 50px;
    border:2px solid;
}
#imgbtnA{
   
    display: flex;
    width: 100px;
    height:100px;
    padding: 0px;  
    border-radius: 100%;
    justify-content: space-between;

}
#natacion{
    border-radius: 100px;
}
.button1{
    position: center;
    display:inline-block;
    padding: 5px 15px;
    color:white;
    background:rgb(179, 134, 179);
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family:consola ;
    overflow: hidden;  
    border-radius: 75px;
    border: none;
}
.btnM{
    background:rgb(179, 134, 179);
    padding: 5px 15px; 
    justify-content:center ;
    border-radius: 50px;
    border:2px solid
}
.button2{
    position: center;
    display:inline-block;
    padding: 5px 15px;
    color:white;
    background:rgb(179, 134, 179);
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family:consola ;
    overflow: hidden;
    border-radius: 75px;
    border: none;
}
.btnPP{
    background:rgb(179, 134, 179);
    padding: 5px 15px; 
    justify-content:center ;
    border-radius: 50px;
    border:2px solid;
}
.button3{
    position: center;
    display:inline-block;
    padding: 5px 15px;
    color:white;
    background:rgb(179, 134, 179);
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family:consola ;
    overflow: hidden;
    border-radius: 75px;
    border: none;
}
